<!DOCTYPE html>
<html ng-app="alibot">
<head>
  <meta charset="utf-8">
  <title>Alibot</title>
  <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script> -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
